<li>
  <a href="javascript:" class="button delete delete-bookmark" data-index="{{ index }}" data-action="delete-bookmark">&times;</a>
  <a class="bookmark-link" href="{{ url }}">{{ title }}</a>
</li>
