<li {{#filename}}data-filename="{{ filename }}"{{/filename}} {{#fileOffset}}data-offset="{{ fileOffset }}"{{/fileOffset}} data-index={{ index }}>
  <a href="#!{{ path }}::{{ index }}">
    <span  class="page-thumb no-src">
      <img/>
    </span>
    <span class="page-filename">{{ filename }}</span>
  </a>
</li>
