@import './vendor/_normalize.css';
@import './_icons.css';

html,body{
    height:100%;
    width:100%;
    margin:0;
    padding:0;
    font-size:13px;
    font-family:sans-serif;
    touch-callout: none;
    user-select: none;
}

.button {
    display: inline-block;
    color: white;
    padding: 8px 16px;
    background: #48c;
    text-align: center;
    border-radius: 1000px;
    &:hover{
        background: #48e;
    }
    &:active{
        background: #48a;
    }
    &[disabled]{
        background: #888;
    }
}

#cbz-reader-container{
    background:black;
    height:100%
}

#cbz-reader-toolbar {
    background:#EEE;
    width:100%;
    position:absolute;
    top:0;
    padding:0;
    z-index:5;
    height: 60px;
    box-shadow:0 0 5px #444;
    line-height: 50px;
    vertical-align: middle;
    box-sizing: border-box;
    font-size: 16px;

    .toolbar-body {
        margin: auto 0;
        position: absolute;
        top: 0;
        bottom: 0;
        width: 100%;
        height: 50px;
        padding: 0 10px;
        box-sizing: border-box;

        .toolbar-left {
            float:left;
            vertical-align: middle;
        }

        .toolbar-right {
            float:right;
        }

        .toolbar-center {
            text-align:center;
        }
    }
}

#cbz-reader-body {
    background:black;
    border-top: 60px solid transparent;
    height:100%;
    position:relative;
    box-sizing: border-box;
}

#cbz-reader-browser {
    background:white;
    position:absolute;
    top:0;
    left:0%;
    width:0%;
    height:100%;
    z-index:4;
    box-shadow:0 0 5px #444;
    transition: width .3s, left .3s;
    transition-timing-function: linear;
}

#cbz-reader-pages {
    background:#DDD;
    position:absolute;
    top:0;
    left:0%;
    width:0%;
    height:100%;
    overflow:auto;
    z-index:3;
    box-shadow:0 0 5px #444;
    transition: width .3s, left .3s;
    transition-timing-function: linear;
    .preload {
      font-size: 10px;
      padding: 4px 8px;
    }
}

#cbz-reader-viewer {
    background:#444;
    position:absolute;
    top:0;
    left:0%;
    width:100%;
    height:100%;
    overflow:auto;
    z-index:2;
    box-shadow:0 0 5px #444;
    transition:width .3s, left .3s;
    transition-timing-function: linear;
}

a,a:link,a:active,a:visited{
    color: inherit;
    text-decoration:none;
    cursor:pointer;
}


/* desktop-first sizing */
.browser {
    #cbz-reader-browser {
        width:50%;
    }

    #cbz-reader-pages {
        left:50%;
        width:0%;
    }

    #cbz-reader-viewer {
        left:50%;
        width:50%;
    }
}

.pages {
    #cbz-reader-browser {
        width:0%;
    }

    #cbz-reader-viewer {
        left:50%;
        width:50%;
    }

    #cbz-reader-pages {
        width:50%;
    }
}

#cbz-reader-browser {
    overflow:auto;
    .nav li.active > a {
        background: #ccccff;
    }
    .browser-item {
        > a {
            display: block;
            position:relative;
            min-height: 25px;
        }
        .browser-icon {
            position:absolute;
            left: 8px;
            bottom: 0;
            top:0;
            margin: auto 0;
            height: 15px;
            padding-bottom: 3px;
        }
        .file-name {
            display: block;
            margin-left: 30px;
            white-space: nowrap;
            padding: 8px 0;
        }
        .icon-folder {
            color: orange;
        }
        .icon-file-text {
            color: light-gray;
        }
    }
}

.directory-children {
    list-style:none;
    padding:0;
    margin:0;
    padding-left: 15px;
    .browser-root > & {
        padding: 0;
    }
    li {
        list-style:none;
        padding:0;
        margin:0;
        line-height: 18px;
    }
    .loading {
        position: relative;
        .loading-icon {
            animation: cz-spin 1s infinite linear;
        }
    }
}

#cbz-reader-pages {
    .pages-wrapper {
        padding: 8px;
    }
    .active a {
        background: #ccccff;
    }
    .current-file-title {
        font-weight:bold;
        color:#666;
        text-transform:uppercase;
        .loading-icon {
            animation: cz-spin 1s infinite linear;
        }
    }
    .current-file-contents {
        padding: 10px;
    }
    .current-file-list > li {
        position:relative;
        cursor:pointer;
        .no-src {
            visibility: hidden;
        }
        > a {
            display: block;
            word-break: break-all;
            padding: 8px 0;
        }
        &.selected > a {
            background:#aaf;
        }
    }
}

#cbz-reader-viewer {
    .image {
        display:block;
        width:100%;
        max-width: none; /*override normalize rules */
        &.zoom-transition {
          transition: width .2s, height .2s;
          transition-timing-function: linear;
        }
    }

    .viewer-text {
        background:white;
    }
}

@media screen and (max-width:480px) {

    #cbz-reader-browser {
        top:0%;
        left:0;
        width:100%;
        height: 0%;
        transition:top .3s, height .3s;
        transition-timing-function: linear;
    }

    #cbz-reader-pages {
        top: 0%;
        left:0;
        width:100%;
        height: 0%;
        transition: top .3s, height .3s;
        transition-timing-function: linear;
    }

    #cbz-reader-viewer {
        top: 0%;
        left:0;
        width:100%;
        height: 100%;
        transition: top .3s, height .3s;
        transition-timing-function: linear;
    }

    /* override base style changes */
    .browser #cbz-reader-browser,
    .browser #cbz-reader-viewer,
    .browser #cbz-reader-pages,
    .pages #cbz-reader-browser,
    .pages #cbz-reader-viewer,
    .pages #cbz-reader-pages,
    .browser.pages #cbz-reader-browser,
    .browser.pages #cbz-reader-pages,
    .browser.pages #cbz-reader-viewer {
        width:100%;
        left:0%;
        top:0%;
    }

    .browser {
        #cbz-reader-browser {
            height:50%;
        }

        #cbz-reader-pages {
            top:50%;
            height:0%;
        }

        #cbz-reader-viewer {
            top:50%;
            height:50%;
        }
    }

    .pages {
        #cbz-reader-pages {
            height: 50%;
            top: 0%;
        }

        #cbz-reader-viewer {
            top: 50%;
            height: 50%;
        }
    }

    .browser.pages {
        #cbz-reader-browser {
            height: 30%;
        }
        #cbz-reader-pages {
            top: 30%;
            height: 30%;
        }
        #cbz-reader-viewer {
            top: 60%;
            height: 40%;
        }
    }
}

/* copied from FontAwesome fa-spin */
@keyframes cz-spin {
    0% {
        transform: rotate(0deg)
    }

    100% {
        transform: rotate(359deg)
    }
}

